body {
    background-color: black;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.face-card {
    width: 300px;
    margin: 50px;
}

.splash {
    margin-top: 110px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    white-space: nowrap;
    color: white;
    text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
}

.splash-group-margin {
    margin-bottom: -20px;
}

.with-border {
    border: 5px solid red;
}
