.face-card {
    width: 300px;
    margin: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.page-footer-content {
    justify-content: center;
    align-items: center;
}

.container {
	margin-top: 300px;
}

body {
	max-width: 1200px;
	background: black url("../images/banner.jpg") no-repeat center top;
}

.css-title {
	position: relative;
	width: 50%;
	left: 20%;
	top: 120px;
}