.coding {
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	color: white;
	text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: coding-anim 2s ease forwards;
}

@keyframes coding-anim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

.games {
	position: relative;
	top: 0px;
	left: 5px;
	opacity: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	color: white;
	text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: games-anim 2s ease forwards;
	animation-delay: 2s;
}

@keyframes games-anim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

.general {
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.8em;
	white-space: nowrap;
	color: white;
	text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: general-anim 2s ease forwards;
	animation-delay: 4s;
}

@keyframes general-anim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

.kortelainen-pro {
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	white-space: nowrap;
	color: white;
	font-weight: 400;
	text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: kortelainen-anim 2s ease forwards;
	animation-delay: 6s;
}

@keyframes kortelainen-anim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

.splash-line {
    background-color: white;
    height: 5px;
    border-radius: 5px;
}

.line {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	height: 5px;
	width: 460px;
	opacity: 0;
	background-color: white;
	box-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: line-anim 1s ease forwards;
	animation-delay: 8s;
}

@keyframes line-anim {
	0%   { opacity: 0}
	100% { opacity: 1}
}

@keyframes splash-appear {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}


.appear-after-0-secons {
	opacity: 0;
	animation: splash-appear 2s ease forwards;
}

.appear-after-2-secons {
	opacity: 0;
	animation: splash-appear 2s ease forwards;
	animation-delay: 2s;
}

.appear-after-4-secons {
	opacity: 0;
	animation: splash-appear 2s ease forwards;
	animation-delay: 4s;
}

.appear-after-6-secons {
	opacity: 0;
	animation: splash-appear 2s ease forwards;
	animation-delay: 6s;
}

.appear-after-8-secons {
	opacity: 0;
	animation: splash-appear 2s ease forwards;
	animation-delay: 8s;
}
