.coding {
	position: absolute;
	top: 100px;
	left: 2500px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: white;
	text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: coding-anim 2s ease forwards;
}

@keyframes coding-anim {
	0%   { left:2500px; top:100px; opacity: 0;}
	75%  { opacity: 1; }
	100% { left:500px; top:100px; }
}

.games {
	position: absolute;
	top: 100px;
	left: 2500px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: white;
	text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: games-anim 2s ease forwards;
	animation-delay: 2s;
}

@keyframes games-anim {
	0%   { left:2500px; top:100px; opacity: 0;}
	75%  { opacity: 1; }
	100% { left:670px; top:100px; }
}

.general {
	position: absolute;
	top: 140px;
	left: -500px;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: general-anim 2s ease forwards;
	animation-delay: 4s;
}

@keyframes general-anim {
	0%   { left:-500px; top:140px; opacity: 0;}
	75%  { opacity: 1; }
	100% { left:500px; top:140px; }
}

.kortelainen-pro {
	position: absolute;
	top: 230px;
	left: 2500px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: white;
	font-weight: 400;
	text-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: kortelainen-anim 2s ease forwards;
	animation-delay: 6s;
}

@keyframes kortelainen-anim {
	0%   { left:2500px; top:230px; opacity: 0;}
	75%  { opacity: 1; }
	100% { left:500px; top:230px; }
}

.line {
	position: absolute;
	top: 220px;
	left: 500px;
	height: 5px;
	width: 460px;
	opacity: 0;
	background-color: white;
	box-shadow: 2px 2px 1px rgba(75, 75, 75, 0.5);
	animation: line-anim 1s ease forwards;
	animation-delay: 8s; 
}

@keyframes line-anim {
	0%   { opacity: 0}
	100% { opacity: 1}
}